<%= form_with(model: benefit, local: true) do |form| %>
  <%= render "shared/errors", object: benefit %>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.collection_select :review_id, Review.all, :id, :content, id: :benefit_review_id %>
  </div>

  <div class="field">
    <%= form.label :wage %>
    <%= form.number_field :wage, id: :benefit_wage %>
  </div>

  <div class="field">
    <%= form.check_box :transportation, id: :transportation %>
    <%= form.label "交通費がもらえる", for: :transportation, id: :transportation %>
  </div>

  <div class="field">
    <%= form.check_box :accommodation, id: :accommodation %>
    <%= form.label "宿泊場所がある", for: :accommodation, id: :accommodation %>
  </div>

  <div class="field">
    <%= form.check_box :lunch, id: :lunch %>
    <%= form.label "ランチを食べさせてくれる", for: :lunch, id: :lunch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
