<%= form_with(model: benefit, local: true) do |form| %>
  <% if benefit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(benefit.errors.count, "error") %> prohibited this benefit from being saved:</h2>

      <ul>
      <% benefit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.text_field :review_id, id: :benefit_review_id %>
  </div>

  <div class="field">
    <%= form.label :transportation %>
    <%= form.check_box :transportation, id: :benefit_transportation %>
  </div>

  <div class="field">
    <%= form.label :accommodation %>
    <%= form.check_box :accommodation, id: :benefit_accommodation %>
  </div>

  <div class="field">
    <%= form.label :wage %>
    <%= form.number_field :wage, id: :benefit_wage %>
  </div>

  <div class="field">
    <%= form.label :lunch %>
    <%= form.check_box :lunch, id: :benefit_lunch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
