<p id="notice"><%= notice %></p>

<p>
  <strong><%= Comment.human_attribute_name('content') %>:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong><%= Comment.human_attribute_name('review') %>:</strong>
  <%= @comment.review.content %>
</p>

<p>
  <strong><%= Comment.human_attribute_name('user') %>:</strong>
  <%= @comment.user.name %>
</p>

<%= link_to '編集', edit_comment_path(@comment) %> |
