<div class="container">
  <h1>体験談一覧</h1>

  <table>
    <thead>
    <tr>
      <th><%= Review.human_attribute_name('content') %></th>
      <th><%= Review.human_attribute_name('company') %></th>
      <th><%= Review.human_attribute_name('rate') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= truncate(review.content) if review.content %></td>
        <td><%= link_to review.company.name, admin_company_path(review.company) %></td>
        <td><%= review.rate %></td>
        <td><%= link_to '詳細', admin_review_path(review) %></td>
        <td><%= link_to '編集', edit_admin_review_path(review) %></td>
        <td><%= link_to '削除', admin_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新規体験談作成', new_admin_review_path %>
</div>
