<%= form_with(model: user, local: true) do |form| %>
  <%= render "shared/errors", object: user %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
