<div class="container">
  <h3>
    <%= @company.name %>
    <%= image_tag @company.logo_url(:thumb), style: "max-width:100%; width:200px;" %>
  </h3>

  <table>
    <tbody>
      <tr>
        <td><%= Company.human_attribute_name('url') %>: </td>
        <td><%= link_to @company.url, @company.url %></td>
      </tr>
      <tr>
        <td><%= Company.human_attribute_name('address') %>: </td>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <td><%= Company.human_attribute_name('tag_list') %>: </td>
        <td>
          <% @company.tags.pluck(:name).each do |name| %>
          <div class='chip'>#<%= name %></div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to '編集', edit_company_path(@company) %> | <%= link_to '削除', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<style>
tr td:first-child { width: 100px; }
</style>
