<p>
  <strong><%= Company.human_attribute_name('name') %>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= Company.human_attribute_name('url') %>:</strong>
  <%= @company.url %>
</p>

<p>
  <strong><%= Company.human_attribute_name('address') %>:</strong>
  <%= @company.address %>
</p>

<p>
  <strong><%= Company.human_attribute_name('logo') %>:</strong>
  <%= image_tag @company.logo_url(:thumb) %>
</p>

<p>
  <strong><%= Company.human_attribute_name('tag_list') %>:</strong>
  <%= @company.tags.pluck(:name).map { |name| "##{name}" }.join(" ") %>
</p>

<%= link_to '編集', edit_company_path(@company) %> | <%= link_to '削除', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
