<%= form_with(model: review, local: true) do |form| %>
  <%= render "shared/errors", object: review %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :review_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :review_user_id %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :review_url %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :review_company_id %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate, id: :review_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
