<div class="container">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">search</i>
        検索
      </div>
      <div class="collapsible-body">
        <%= search_form_for @search do |f| %>
        <%= f.search_field :content_cont, placeholder: Review.human_attribute_name('content') %>

        <%= f.select :user_id_eq, options_from_collection_for_select(User.all, :id, :name), include_blank: Review.human_attribute_name('user') %>

        <%= f.select :company_id_eq, options_from_collection_for_select(Company.all, :id, :name), include_blank: Review.human_attribute_name('company') %>

        <%= f.select :rate_eq, (1..5).to_a, include_blank: Review.human_attribute_name('rate') %>

        <%= f.select :tags_id_eq, options_from_collection_for_select(Review.tag_counts_on(:tags), :id, :name), include_blank: Review.human_attribute_name('tag_list') %>

        <div class="row">
          <div class="input-field col s6">
            <%= f.select :benefit_transportation_eq, [true, false], include_blank: Benefit.human_attribute_name('transportation') %>
          </div>

          <div class="input-field col s6">
            <%= f.select :benefit_accommodation_eq, [true, false], include_blank: Benefit.human_attribute_name('accommodation') %>
          </div>
        </div>

        <div class="row">
          <div class="col s5">
            <%= f.search_field :benefit_wage_gteq, placeholder: Benefit.human_attribute_name('wage') %>
          </div>
          <div class="col s2 center-align">
            〜
          </div>
          <div class="col s5">
            <%= f.search_field :benefit_wage_lteq, placeholder: Benefit.human_attribute_name('wage') %>
          </div>
        </div>

        <%= f.select :benefit_lunch_eq, [true, false], include_blank: Benefit.human_attribute_name('lunch') %>

        <%= f.submit %>
        <% end %>
      </div>
    </li>
  </ul>

  <h1>体験談一覧</h1>

  <div class="row">
    <% @reviews.each do |review| %>
    <div class="col s12 m6 l4">
      <a href="<%= review_path review %>" style="color:#039be5;">
        <div class="card">
          <div class="card-image" style="background:url(<%= review.company.logo_url %>) no-repeat center center; background-size:contain; height:150px;">
          </div>
          <div class="card-content">
            <span class="card-title"><%= review.company.name %> - <%= review.user.name %></span>
            <p><%= review.tags.pluck(:name).map { |name| "##{name}" }.join(" ") %></p>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>

  <%= link_to '新規体験談を作成', new_review_path %>
</div>

<script>
$("document").ready(function() {
  $(".collapsible").collapsible();
  $('select').material_select();
});
</script>
