<p id="notice"><%= notice %></p>

<%= search_form_for @search do |f| %>
  <%= f.search_field :content_cont, placeholder: Review.human_attribute_name('content') %>

  <%= f.select :user_id_eq, options_from_collection_for_select(User.all, :id, :name), include_blank: Review.human_attribute_name('user') %>

  <%= f.select :company_id_eq, options_from_collection_for_select(Company.all, :id, :name), include_blank: Review.human_attribute_name('company') %>

  <%= f.select :rate_eq, (1..5).to_a, include_blank: Review.human_attribute_name('rate') %>

  <%= f.select :tags_id_eq, options_from_collection_for_select(Review.tag_counts_on(:tags), :id, :name), include_blank: Review.human_attribute_name('tag_list') %>

  <%= f.submit %>
<% end %>

<h1>体験談一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= Review.human_attribute_name('content') %></th>
      <th><%= Review.human_attribute_name('user') %></th>
      <th><%= Review.human_attribute_name('url') %></th>
      <th><%= Review.human_attribute_name('company') %></th>
      <th><%= Review.human_attribute_name('rate') %></th>
      <th><%= Review.human_attribute_name('tag_list') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= truncate(review.content, length: 30) if review.content %></td>
        <td><%= review.user.name %></td>
        <td><%= review.url %></td>
        <td><%= review.company.name %></td>
        <td><%= review.rate %></td>
        <td><%= review.tags.pluck(:name).map { |name| "##{name}" }.join(" ") %></td>
        <td><%= link_to '詳細', review %></td>
        <td><%= link_to '編集', edit_review_path(review) %></td>
        <td><%= link_to '削除', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規体験談を作成', new_review_path %>
