<div class="container">
  <div class="row">
    <div class="col m6 s12">
      <h5><%= link_to @review.company.name, company_path(@review.company) %>のインターン</h5>
    </div>
    <div class="pad__top--10">
      <div class="col m2 s12">
        <i class="material-icons <%= icon_color @benefit.lunch %> lighten-1">local_dining</i>
        <i class="material-icons <%= icon_color @benefit.transportation %> lighten-1">directions_car</i>
        <i class="material-icons <%= icon_color @benefit.accommodation %> lighten-1">hotel</i>
      </div>
      <div class="col m4 s12">
        <%= select_tag "rate", options_for_select((1..5).to_a), id: "rate", selected: @review.rate %>
      </div>
    </div>
  </div>

  <p>
    <%= simple_format(@review.content) if @review.content %>
  </p>

  <p>
    <% @review.tags.each do |tag| %>
    <div class='chip'>#<%= tag.name %></div>
    <% end %>
  </p>

  <p>
    <strong><%= Benefit.human_attribute_name('wage') %>:</strong>
    <%= @benefit.wage %>円
  </p>

  <p>
    <strong><%= Review.human_attribute_name('url') %>:</strong>
    <%= link_to @review.url, @review.url %>
  </p>

  <div class="right-align">
    <%= @review.created_at.strftime("%Y/%m/%d") %>　<%= link_to @review.user.name, user_path(@review.user) %>
  </div>

  <%= link_to '編集', edit_review_path(@review) %>

  <hr>
  <h2>コメント</h2>
  <% @comments.each do |comment| %>
  <div class="card-panel teal white">
    <%= comment.content %>
    <div>
      <div class="chip">
        <i class="material-icons">face</i>
        <%= comment.user.name %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
$("document").ready(function() {
  $("#rate").barrating({
    theme: "css-stars",
    readonly: true
  });
});
</script>
