<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @review.url %>
</p>

<p>
  <strong>Company:</strong>
  <%= @review.company %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @review.rate %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
