<div class="container">
  <h3><%= @review.company.name %>のインターン</h3>
  <p>
    <strong><%= Review.human_attribute_name('content') %>:</strong>
    <%= simple_format(@review.content) if @review.content %>
  </p>

  <p>
    <strong><%= Review.human_attribute_name('user') %>:</strong>
    <%= link_to @review.user.name, user_path(@review.user) %>
  </p>

  <p>
    <strong><%= Review.human_attribute_name('url') %>:</strong>
    <%= link_to @review.url, @review.url %>
  </p>

  <p>
    <strong><%= Review.human_attribute_name('company') %>:</strong>
    <%= link_to @review.company.name, company_path(@review.company) %>
  </p>

  <p>
    <strong><%= Review.human_attribute_name('rate') %>:</strong>
    <%= select_tag "rate", options_for_select((1..5).to_a), id: "rate", selected: @review.rate %>
  </p>

  <p>
    <strong><%= Review.human_attribute_name('tag_list') %>:</strong>
    <% @review.tags.each do |tag| %>
    <div class='chip'>#<%= tag.name %></div>
    <% end %>
  </p>

  <p>
    <strong><%= Benefit.human_attribute_name('transportation') %>:</strong>
    <%= show_transportation @benefit.transportation %>
  </p>

  <p>
    <strong><%= Benefit.human_attribute_name('accommodation') %>:</strong>
    <%= show_accommodation @benefit.accommodation %>
  </p>

  <p>
    <strong><%= Benefit.human_attribute_name('wage') %>:</strong>
    <%= @benefit.wage %>円
  </p>

  <p>
    <strong><%= Benefit.human_attribute_name('lunch') %>:</strong>
    <%= show_lunch @benefit.lunch %>
  </p>

  <%= link_to '編集', edit_review_path(@review) %>

  <hr>
  <h2>コメント</h2>
  <% @comments.each do |comment| %>
  <div class="card-panel teal white">
    <%= comment.content %>
    <div>
      <div class="chip">
        <i class="material-icons">face</i>
        <%= comment.user.name %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
$("document").ready(function() {
  $("#rate").barrating({
    theme: "css-stars",
    readonly: true
  });
});
</script>